.col-md-4.sidebar-wrap {
  padding-right: 0;

}

.col-md-8.right-content-wrap {
  padding-left: 0;
}

hr.full-width {
  clear: both;
  width: calc(100% + 50px);
  margin-left: -25px;
}

.header-divider {
  margin-bottom: 105px;
}